#bg__img {
  background-image: url(../img/index_background.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
}

.card__border {
  border: solid 1px white;
  border-radius: 20px;
  overflow: hidden;
  transition: all ease-out 0.2s;
}

.card__border:hover {
  transform: scale(1.05);
}

#bg__img2 {
  background-image: url(../img/stadium.jpg);
  background-size: cover;
}

.bg__galeria {
  background-image: url(../img/black-water.jpg);
  background-size: cover;
}

.bg__historia {
  background-image: url(../img/sand_black.jpg);
  background-size: cover;
}

.bg__tablas {
  background-image: url(../img/shore_black.jpg);
  background-size: cover;
}

.bg__contacto {
  background-image: url(../img/black-water.jpg);
  background-size: cover;
}

/*MEDIA QUERIES*/
@media (min-width: 1024px) {
  #bg__img {
    height: 570px;
  }

  iframe {
    width: 530px;
    height: 400px;
  }

  .bg__contacto {
    height: 570px;
  }
}

@media (max-width: 500px) {
  iframe {
    width: 280px;
    height: 180px;
    margin-bottom: 1rem;
  }
}
