#bg__img {
  background-image: url(../img/index_background.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
}

#bg__img2 {
  background-image: url(../img/stadium.jpg);
  background-size: cover;
}

.bg__galeria {
  background-image: url(../img/black-water.jpg);
  background-size: cover;
}

.bg__historia {
  background-image: url(../img/sand_black.jpg);
  background-size: cover;
}

.bg__tablas {
  background-image: url(../img/shore_black.jpg);
  background-size: cover;
}

.bg__contacto {
  background-image: url(../img/black-water.jpg);
  background-size: cover;
}
