.imagen {
  width: 100%;
}

.imagen img {
  width: 100%;
}

.galeria {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
