$redes: (
  twitter: #00b3e0,
  facebook: #0040c1,
  instagram: #cc0bee,
);

@each $red, $color in $redes {
  .fa-#{$red} {
    color: $color;
    width: 50px;
    &:hover {
      transform: scale(1.5);
    }
  }
}
